.env*
.ruby-version
*.onnx
**/.DS_Store
/.bundle/
/doc/
/log/*.log
/node_modules/
/pkg/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/tmp/
docs/.vitepress/cache
docs/.vitepress/dist
docs/parts/examples/*.md
Gemfile.lock
gemfiles/*.lock
test/dummy/config/master.key
