<% module_namespacing do -%>
class <%= class_name %>Agent < ApplicationAgent
<% actions.each_with_index do |action, index| -%>
<% if index != 0 -%>

<% end -%>
  def <%= action %>
<% if json_schema? -%>
    prompt(params[:message], response_format: :json_schema)
<% elsif json_object? -%>
    prompt(params[:message], response_format: :json_object)
<% else -%>
    prompt(params[:message])
<% end -%>
  end
<% end -%>
end
<% end -%>
